---
---

$themeColor: #ff0a16;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

@import "jekflix";

.share {
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-top: none;
  margin-top: .625rem
  padding-top: 1.25em;
}

.share::after {
  content: '';
  display: table;
  clear: both
}

@media (min-width: 37.5rem) {
  .share {
      margin-top: 3.125rem
  }
}

article .share {
  margin: 10px 10px 0px;
}

.share h3{
  padding: 20px 0 0 0;
  display: block;
}

.share svg {
  margin: 2px;
  height: 2.5em;
}

.share a {
  text-decoration: none;
}

.share .icon {
  transition: all 0.3s;
  background:  #f3f7ff;
  width: 22%;
  max-width: 200px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}
